@model string
 
@{
    ViewData["Title"] = "Forgot Password";
}
 
<h1 class="">Forgot Password</h1>
 
<form asp-action="ForgotPassword" method="post">
    <div class="">
        <label>Email</label>
        <input name="email" class="" />
    </div>
    <button class="" type="submit">Submit</button>
</form>