@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AccountsUser> sighInManager

<ul class="navbar-nav">
    @if (sighInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Logout
                    </a>
                    <a class="dropdown-item" asp-action="Accounts" asp-controller="Admin">
                        Accounts
                    </a>
                </li>
            </ul>
        </li>
        
    }
    else
    {
         <li class="nav-item">
           <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">Log in</a>
         </li>
    }
</ul>